html, body {
    height: 100%;
    margin: 0;
    background: black;
    color: ghostwhite;
    font-family: 'Play', sans-serif;
}

header {
    margin: auto;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(121,33,9,1) 20%, rgba(45,10,10,1) 100%);
    height: 100%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .inner {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: dimgray;
    transition: all 0.3s;
}

a:hover {
    color: brown;
}

article {
    height: 60%;
}

article .inner {
    display: flex;
    justify-content: space-evenly;
}

article .inner div {
    width: 40%;
    font-size: 1.5em;
}

.banner {
    color: brown;
    font-size: 6em;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: .25em;
}

footer {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(121,33,9,1) 20%, rgba(45,10,10,1) 100%);
    height: 5em;
    font-size: 1.2em;
    display: flex;
    justify-content: space-evenly;
}

footer p {
    width: 50%;
}
